html {
  font-size: 50%;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}
header {
  width: 100vw;
  height: 13rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 20px;
  box-sizing: border-box;
}
header img {
  width: 8rem;
  height: 8rem;
}

header input {
  width: 40%;
  font-size: 28px;
  outline: none;
  padding: 5px;
}
.cart-icon {
  background-color: green;
  padding: 7px;
  padding-bottom: 0px;
  border-radius: 12px;
  cursor: pointer;
}
.cart-icon span {
  font-size: 18px;
  color: white;
  margin: 3px;
  padding: 5px;
}

.singleProduct {
  box-sizing: border-box;
  width: 26%;
  height: auto;
  border: 1px solid grey;
  background-color: white;
  text-align: left;
  margin: 20px;
}
.singleProduct img {
  width: 100%;
  height: 50%;
  background-size: cover;
}

.detail {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 50%;
}
.productName {
  margin: 5px;
  padding: 0;
  font-size: 3rem;
}
.productPrice {
  margin: 5px;
  padding: 0;
  font-size: 2rem;
}
.productDelivery {
  margin: 5px;
  padding: 0;
  font-size: 2rem;
}
.addCart,
.removeCart {
  margin: 5px;
  padding: 0;
  padding: 15px;
  color: white;
  background-color: blue;
  border: none;
  font-size: 2rem;
}
.removeCart {
  background-color: red;
}
.addCart:disabled {
  background-color: rgb(178, 178, 248);
}

.productContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sidebar {
  box-sizing: border-box;
  text-align: left;
  width: 30%;
  height: 100vh;
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 20px;
}
.container {
  display: flex;
  justify-content: space-between;
}
.sidebar_title {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}
.sidebar label {
  margin: 10px;
  font-size: 3rem;
}

.sidebar button {
  margin: 3rem;
  width: 80%;
  font-size: 3rem;
  background-color: aliceblue;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px;
}
.backBtn {
  font-size: 25px;
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 2rem;
  margin: 3rem;
}
.contain {
  width: 100%;
  height: 100%;
  display: flex;
}
.cartList {
  margin: 100px;
  width: 70%;
  height: 100%;
  /* background-color: pink; */
}
.summary {
  width: 30%;
  height: 100vh;
  background-color: white;
  /* border-left: 10px solid black; */
  padding-top: 30rem;
}
.btn {
  margin: 30px;
}
.cart_item {
  width: 70%;
  height: 150px;
  /* background-color: bisque; */
  margin: 3rem auto;
  text-align: left;
  display: flex;
  align-items: center;
  border: 1px solid grey;
}
.cart_item img {
  width: 15%;
  height: 80%;
  margin-left: 10px;
}
.item_detail {
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  padding: 20px;
}
.item_detail p,
span {
  margin: 5px;
}
.quantity {
  /* border: none; */
  font-size: 20px;
}
.summary h1 {
  font-size: 30px;
}
.summary p {
  font-size: 25px;
}
.checkout {
  background-color: rgb(61, 62, 63);
  color: white;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}
.rate {
  font-size: 30px;
}
